.search-app {
    display: grid;
    grid-template-rows: 44px max-content auto max-content;
    grid-template-areas:
        'head'
        'stat'
        'feed'
        'foot';

    height: calc(100vh - 40px);
    border: 1px solid #bbb;
    border-radius: 3px;
}

.search-app__head {
    grid-area: head;
    display: flex;
    border-bottom: 1px solid #bbb;
    padding: 1px;
    overflow-x: auto;
    -webkit-scrollbar-width: thin;
    scrollbar-width: thin;
}

.search-app__foot {
    grid-area: foot;
    display: flex;
    padding: 0.5em 0 0.75em;
    border-top: 1px solid #bbb;
}

.search-app__foot:empty {
    display: none;
}

.search-app__nav {
    display: flex;
}

.search-app__nav a {
    margin-right: 10px;
    font-size: 0.875em;
}

.search-app__nav button {
    margin-right: 1px;
    max-width: 20em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.search-app__nav__car-btn {
    display: inline-flex;
    align-items: center;
    background-color: #418aca;
    fill: #fff;
}

.search-app__form {
    display: flex;
    flex-grow: 1;
}

.search-app__form input[type='search'] {
    border: none;
    padding: 0 1em;
    flex-grow: 1;
}

.search-app__form button {
    margin-right: 1px;
    display: inline-flex;
    align-items: center;
}

.search-app__state {
    grid-area: stat;
    padding: 1em 0;
    line-height: 1.25;
}

.search-app__results,
.search-app__results-tree {
    grid-area: feed;
    margin-bottom: 1em;
    overflow-y: auto;
    -webkit-scrollbar-width: thin;
    scrollbar-width: thin;
}

.search-app__results li {
    margin-bottom: 0.5em;
}

.search-app__results a,
.search-app__results-tree a {
    cursor: pointer;
    font-size: 0.875em;
}

.search-app__results a:first-of-type {
    display: block;
}

.search-app__results a + a {
    display: inline-block;
    line-height: 1;
    font-size: 0.75em;
    margin-right: 1em;
    margin-bottom: 0.25em;
    font-weight: bold;
}

.search-app__controls {
    grid-area: ctrl;
    display: flex;
}

.danger {
    color: red;
}

.search-app__state,
.search-app__results,
.search-app__results-tree,
.search-app__foot {
    padding-left: 15px;
    padding-right: 15px;
}
